*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-image: url("bg.jpg");
    background-color: linear-gradient(to right, #aa9f9fd0, #abb3aebb);
  }
  
  .calculator {
    border: 2px solid ;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator > button {
    text-shadow: 1px 1px #ffffff;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(245, 238, 238);
    border: 2px ridge rgb(245, 242, 242);
    outline: none;
    background-color: rgb(22, 21, 21);
    border-radius: 25px 12px 25px 12px;
  }
  
  .calculator > button:hover {
    background-color: rgba(19, 18, 18, 0.781);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgb(12, 11, 11);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 25px 12px 25px 12px;
    color: white;
    font-size: 2.5rem;
  }
  
  .output .previous {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current {
    color: white;
    font-size: 2.5rem;
  }